@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* center container in the middle */

.container {
  position: relative;
  margin-top: 20px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  width: 650px;
  height: 400px;
  background: #f5f5f5;
  box-shadow: 5px 5px 15px rgba(185, 151, 77, 0.5);
  border-radius: 10px;
  text-align: inherit !important;
}
.p {
  font-size: 0.6em;
  color: #baa57e;
  letter-spacing: 1px;
}
.h1 {
  font-size: 1.2em;
  color: #775b26;
  margin-top: 12px;
  text-align: center;
}
.h2 {
  font-size: 1.7em;
  color: #baa57e;
  margin-top: -5px;
}
.img {
  width: 290px;
  margin-top: 25px;
  margin-left: 20px;
}
.slideshowbuttons {
  top: 70%;
  display: none;
}
.one,
.two,
.three,
.four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #baa57e;
}
.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}
.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 17%;
  left: 56%;
}
.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4e4e4e;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}
button {
  background: #baa57e;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f5f5f5;
  cursor: pointer;
  margin-top: 156px;
  margin-left: 50px;
}
button:hover {
  background: #baa57e;
  transition: all 0.4s ease-in-out;
}
.add,
.delete {
  width: 67%;
}
.like {
  width: 22%;
  margin-left: 12px;
}
.sizes {
  display: grid;
  color: #baa57e;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
}
.sizes:hover {
  cursor: pointer;
}
.pick {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 20px;
}
.size {
  padding: 9px;
  border: 1px solid #e0c9cb;
  font-size: 0.7em;
  text-align: center;
}
.size:hover {
  background: #baa57e;
  color: #f5f5f5;
  transition: all 0.4s ease-in-out;
}
.focus {
  background: #baa57e;
  color: #f5f5f5;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
}
.footer p {
  letter-spacing: 3px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #7d7d7d;
}
.delete {
  background-color: red;
}

.ul {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px "trebuchet MS", "lucida sans";
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: 45%;
  height: 30%;
  text-align: center;
}

.ul ul {
  margin: 0 0 0 2em;
}

.ul li {
  position: relative;
  display: block;
  margin: 0.5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.3s ease-out;
}

.ul li:hover {
  background: #eee;
}

.ul li:hover:before {
  transform: rotate(360deg);
}

.ul li:before {
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
