.header {
  background: rgb(220, 118, 51);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: "Brush Script MT", cursive;
  padding: 0 0 0 20px;
  line-height: 100px;
}

.ulcon,
.ulsin {
  display: flex;
  list-style: none;
  text-align: right;
}

.ulcon {
  margin-right: -120px;
}

.li {
  font-size: 18px;
  font-weight: bold;
  line-height: 100px;
}
.a {
  padding: 14px 20px;
  border-radius: 3px;
}
.a:hover {
  background-color: rgb(211, 103, 32);
  transition: 0.395s;
}

.avatar {
  height: 28%;
  border-radius: 150px;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active,
.a {
  color: #000000;
  text-decoration: none;
}
